.map-ui{
    pointer-events:none;
    display: flex;
    flex-direction: column;


}

.map-ui header{
flex-shrink: 0;
}

.map-ui_body *{
    pointer-events:visible;
}

// .map-ui_body{
//     height:inherit;
//     position: relative;
// }

// .map-ui_main{
//     background-color: rgba(0,0,0,0.5);
// }

// @media screen and (orientation:landscape) {
//     .map-ui_aside {
//         right: 0.5%;
//         top: 1%;
//         width: 30%;
//         height: 98%;
//         max-width: 25rem;
//     }
// }

// @media screen and (orientation:portrait) {
//     .map-ui_aside {
//         width: 100%;
//         max-height: 100%;
//         bottom: 0;
//     }
// }

$sidebarWidth:300px;


.map-ui_body{
    flex-shrink: 2 ;
    flex-basis: 0;
    // height: 100%;
    width: 100%;
    display: grid;
    gap:0.5rem;
    grid-template-rows:auto;
    grid-template-columns: 1fr $sidebarWidth;
}

// .map-ui header{
//     grid-area: header;
// }

.map-ui_main{
    // grid-area: main;
    // margin-left: 0.5rem;
    background-color: rgba(0,0,0,0.5);
}

.map-ui_aside{
    // grid-area: aside;
    max-height: 100%;
    // margin-right: 0.5rem;

}