/* === Loader  ============================ */


#loader {
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    pointer-events: none;
    transition: opacity 2s;
    /* animation: 4s scale 0s linear both 1, 1s fadein 2.5s reverse both 1; */
 }
 
 #loader>* {
    animation: 1.5s fadein;
 }
 
 @keyframes rotate {
    to {
       transform: rotate(180deg);
    }
 }
 
 #loader img {
    width: 4rem;
    height: auto;
    margin: 2rem;
    animation: rotate 0.5s linear infinite;
    opacity: 0.8;
 
 }
 
 #loader.loaded {
    opacity: 0;
 }
 
 #loader h1 {
    font-size: 4rem;
 }
 
 #loader h2{
    font-size: 1.2rem;
    font-weight: bold;
 }
 
 @media screen and (max-width:800px) {
 
    #loader h1 {
       font-size: 9vw;
    }
 
    #loader h2,.h1-subtitle {
       font-size: 3vw!important;
    }
 
 }

 .h1-subtitle{
   font-size: 1.2rem;
   font-family: var(--title-font);
   text-align: right;
   font-weight: initial;
   
 }