.map-ui{
    pointer-events:none;
    position:relative;
}

.map-ui_body *{
    pointer-events:visible;
}

// .map-ui_body{
//     height:inherit;
//     position: relative;
// }

// .map-ui_main{
//     background-color: rgba(0,0,0,0.5);
// }

@media screen and (orientation:landscape) {
    .map-ui_aside {
        right: 0.5%;
        top: 1%;
        width: 30%;
        height: 98%;
        max-width: 25rem;
    }
}

@media screen and (orientation:portrait) {
    .map-ui_aside {
        width: 100%;
        max-height: 100%;
        bottom: 0;
    }
}

$sidebarWidth:300px;


.map-ui_body{
    width: 100%;
    display: flex;
    flex-flow: row-reverse;
    position: absolute;
    top:0;
    right:0;
    bottom:0;
}

// .map-ui header{
//     grid-area: header;
// }

.map-ui_main{
    // grid-area: main;
    // margin-left: 0.5rem;
    background-color: rgba(0,0,0,0.5);
    display: none;
}

.map-ui_aside{
    grid-column: 2;
    max-height: 100%;
    // grid-area: aside;
    // margin-right: 0.5rem;

}