/* == General ========================================== */
 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--text-font), 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
 }
 
 body {
    position: relative;
    background-position: top center;
    background-size: 100%;
    background-repeat: none;
    background-color: var(--background-color);
    color: var(--text-color);
    background-image: var(--background-image);
    max-width: 100vw;
 }
 
 h1,
 h2,
 h3 {
    color: var(--primary-color);
 }
 
 h1 {
    /* font-size: 25px; */
    font-family: 'Qebab';
 
 }
 
 h2 {
    font-size: min(25px, 5vw);
    font-family: var(--title-font);
 }
 
 h3 {
    font-size: min(25px, 4vw);
    font-family: var(--title-font);
 }
 
 .container {
    max-width: 1300px;
    margin: auto;
 }
 
 a {
    text-decoration: none;
    color: var(--link-color);
 }
 
 a:hover {
    opacity: 0.8;
 }
 
 li {
    list-style: none;
 }
 
 i {
    font-family: 'fa-brands';
 }
 
 button {
    border: none;
    color: var(--text-color);
    background-color: transparent;
 }
 
