:root {
    --background: rgb(65, 58, 83);
    --map: rgb(238, 222, 177);
    --emphasis: rgb(231, 113, 83);
}

html{
    height: 100%;
    overflow: hidden;
}

.layer{
    width:100vw;
    height:100%;
    height: -webkit-fill-available;
    position:fixed;
    top:0;
    left: 0;
    
}

body{
    touch-action: none;
}

#noise {
    background: url(../img/noise.svg);
    pointer-events: none;
    opacity: 0.5;
    mix-blend-mode: multiply;
}

#worldmap {
    /* height: 100vh;
    width: 100vw; */
    overflow: hidden;
}

#map-ui{
    pointer-events:none;
    display: flex;
    flex-direction: column;
}
#map-ui #controls *{
    pointer-events:visible;


}
#map-ui #controls{
    height:inherit;
    position: relative;
}


svg#map {
    width: 100%;
    height: 100%;
    background: radial-gradient(ellipse at center, rgb(192, 165, 124) 47%, var(--background) 100%);
}

#map:hover{
    cursor: grab;
}

#map path {
    stroke: var(--background);
    stroke-width: .5px;
    transition: all 0.2s;
    fill: var(--map);
}

#map path:not(#map path[data-count="0"]):hover {
    filter:brightness(80%);
    cursor: pointer;
}

#map g {
    filter: drop-shadow(0 0px 5px var(--background));
}

#map path[data-count="0"],#map path[data-count=""]{
    fill:var(--map);
}
/* #map path[data-count="1"]{
    fill:#e79275;
}
#map path[data-count="2"]{
    fill:#ea846d;
}
#map path[data-count="3"]{
    fill:#f1695e;
}
#map path[data-count="4"]{
    fill:#f55c56;
}
#map path[data-count="5"]{
    fill:#f84e4e;
} */

#map path[data-count="1"]{
    fill:#c9c27f;
}
#map path[data-count="2"]{
    fill:#b8b971;
}
#map path[data-count="3"]{
    fill:#a6b064;
}
#map path[data-count="4"]{
    fill:#93a859;
}
#map path[data-count="5"]{
    fill:#809f4e;
}
