// /* ==  Articles  ========================================== */

article {

    background-color: var(--secondary-color);
    text-align: center;
    min-height: 100%;
    max-width: 45rem;
}

article + article{
    margin-top: 10px;
}

article.song-post img {
    max-width: 500px;
}

article header {
    // margin-top: 0;
    padding: 25px 10px;
    background-color: var(--primary-color);
    color:var(--secondary-color)
}

// article header * {
//     color: var(--secondary-color) !important;
// }

article header a {
    font-family: var(--title-font);
    font-size: inherit;
    color: var(--secondary-color);
}

// article header a:hover {
//     opacity: 0.5;
// }

article header em {
    font-size: 14px;
    margin-top: 15px;
    opacity: 0.5;
}

article p {
    margin: 20px;
}

.article-content,
article footer {
    max-width: 710px;
    padding: 0 30px 10px;
}

// article>* {
//     margin: 20px 0;
// }

// article footer {
//     padding-bottom: 30px;
// }