// /* ==  Articles  ========================================== */

@use '../base/sass_vars' as vars;

article {
    text-align: center;
    min-height: 100%;
    max-width: 45rem;
}


article>* {
    background-color: var(--secondary-color);
}


article iframe {
    max-width: 100%;
}

article+article {
    margin-top: 10px;
}

article header {
    // margin-top: 0;
    // padding: 25px 10px;
    background-color: var(--primary-color);
    color: var(--secondary-color)
}

article>* {
    padding: 25px min(50px, 10vw);
}

article header a {
    font-family: var(--title-font);
    font-size: inherit;
    color: var(--secondary-color);
}

article header em {
    font-size: 14px;
    margin-top: 15px;
    opacity: 0.5;
}

.article-content>* {
    max-width: 500px;
    margin: 10px auto;
}

article footer {
    padding-top: 0;
    padding-bottom: 30px;
}

article footer * {
    max-width: 500px;
    margin: 0 auto;
}