 /* == Music Player =========================*/

 @use '../base/sass_vars' as vars;


 //positionnement

 @media screen and (min-width:calc(vars.$breakpoint + 1px)) {

     #playlist-toggle-button {
         display: none !important;
     }
 }

 @media screen and (max-width:vars.$breakpoint) {

     ag-audio-player .body {
         height: 0;
         transition: all 0.5s;
     }

     ag-audio-player header {
         align-items: center
     }

     ag-audio-player.is-open .body {
         height: 100vh;
     }

     ag-audio-player.is-open #playlist-toggle-button {
         transform: rotate(180deg);
     }
 }

 #playlist-toggle-button {
     display: block;
     height: 100%;
     width: fit-content;
     transition: all 0.3s ease;
     color: var(--secondary-color);
 }

 #playlist-toggle-button i {
     padding: 0 1rem;
     font-size: 18px;
 }

 // player

 ag-audio-player {
     color: var(--secondary-color);

    //  background-color: var(--primary-color);
    //  padding: 0.5rem;

     display: flex;
     flex-direction: column;

     >*{
        background-color: var(--primary-color);
        padding: 0.5rem;
     }

     h2,
     h3,
     h4 {
         overflow: hidden;
         text-overflow: ellipsis;
         white-space: nowrap;
     }

     h2 {
         font-size: 25px;
     }

     header {
         gap: 0.3rem;

         display: flex;
         flex-direction: column;

         .top-bar {
             display: flex;
             align-items: center;
             justify-content: space-between;
         }
     }

     .body {
        backdrop-filter: brightness(200%);
         display: flex;
         flex-direction: column;
         overflow: hidden;
         padding: 0;

         >* {
             margin-top: 0.3rem;
         }
     }

     .buttons a{
        color:var(--secondary-color)
     }

     .social-media{
        text-align: center;
        margin:auto;
        max-width: vars.$sidebarWidth;
     }

     .scrollable {
         position: relative;

         display: flex;
         flex-direction: column;
         gap: 0.5rem;

         overflow-y: scroll;
         overflow-x: hidden;
         scroll-snap-type: y mandatory;

         //  direct children snap to top
         >* {
             scroll-snap-align: start;
         }
     }
 }

 /////////////////////////////////////////////////////////////////

 ag-track,
 current-track {

     // vars
     --img-max-width: 70px;

     display: grid;
     grid-template-columns: var(--img-max-width) 1fr;
     grid-template-rows: repeat(3, min-content);
     column-gap: 0.3rem;
     width: min(100%, vars.$sidebarWidth);
     margin: 0 auto;

     .track-thumb {
         grid-row: 1 / -1;
         height: 100%;
         max-height: var(--img-max-width);
         justify-self: center;
     }

     .track-thumb+* {
         grid-column: 2;
     }
 }

 ag-track:hover {
     cursor: pointer;
 }

 ag-track.track--current {
     animation-name: blink;
     animation-duration: 0.5s;
     animation-iteration-count: infinite;
     animation-direction: alternate-reverse;
     animation-timing-function: ease-in-out;
 }

 @keyframes blink {
     from {
         opacity: 1;
     }

     to {
         opacity: 0.5;
     }
 }

 ag-track.track--previous {
     opacity: 0.5;
 }

 .track-text {
     //  color: var(--secondary-color);
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
 }

 .track-text.track-title {
     font-size: 1.2rem;
 }

 .track-text.track-artist {
     font-size: 15px;
     opacity: 0.6;
 }


 audio-controls>* {
     display: flex;
     flex-wrap: nowrap;
     gap: 0.3rem;
 }

 current-track {

     display: grid;

     #progress-bar {
         cursor: pointer;
         position: relative;
         background-color: grey;
         min-height: 7px;
         margin: 5px 0;
     }

     #completion {
         position: absolute;
         top: 0;
         left: 0;
         bottom: 0;
         background-color: var(--base-color);
         width: 0;
     }

     .autoScroll {
         display: inline-block;
         animation: autoScroll 10s infinite linear;
     }

     @keyframes autoScroll {
         from {
             transform: translateX(100%);
         }

         to {
             transform: translateX(-100%);
         }

     }

     #current-song-title {
         overflow: hidden;
     }

     #current-song-title h3 {
         text-overflow: clip;
         font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
         font-size: 1rem;
         opacity: 0.9;
     }



 }