 /* == Music Player =========================*/

 //positionnement

 @media screen and (orientation:landscape) {

     #playlist-toggle-button {
         display: none !important;
     }
 }

 @media screen and (orientation:portrait) {

     ag-audio-player .body {
         height: 0;
         transition: all 0.5s;
     }

     ag-audio-player.is-open .body {
         height: 100vh;
     }

     ag-audio-player.is-open #playlist-toggle-button {
         transform: rotate(180deg);
     }
 }

 #playlist-toggle-button {
     display: block;
     height: 100%;
     width: fit-content;
     transition: all 0.3s ease;
     color: var(--secondary-color);
 }

 #playlist-toggle-button i {
     padding: 0 1rem;
     font-size: 18px;
 }

 // player

 ag-audio-player {
     color: var(--secondary-color);

     background-color: var(--primary-color);
     padding: 0.5rem;

     display: flex;
     flex-direction: column;

     h2,
     h3,
     h4 {
         overflow: hidden;
         text-overflow: ellipsis;
         white-space: nowrap;
     }

     h2 {
         font-size: 25px;
     }

     header {
         gap: 0.3rem;

         display: flex;
         flex-direction: column;

         .top-bar {
             display: flex;
             align-items: center;
             justify-content: space-between;
         }
     }

     .body {
         display: flex;
         flex-direction: column;
         overflow: hidden;

         >* {
             margin-top: 0.3rem;
         }
     }

     .scrollable {
         position: relative;

         display: flex;
         flex-direction: column;
         gap: 0.5rem;

         overflow-y: scroll;
         overflow-x: hidden;
         scroll-snap-type: y mandatory;

         //  direct children snap to top
         >* {
             scroll-snap-align: start;
         }
     }
 }

 /////////////////////////////////////////////////////////////////

 ag-track {

     // vars
     --img-max-width: 70px;

     display: grid;
     grid-template-columns: var(--img-max-width) 1fr;
     grid-template-rows: repeat(3, min-content);
     column-gap: 0.3rem;

     .track-thumb {
         grid-row: 1 / -1;
         height: 100%;
         max-height: var(--img-max-width);
         justify-self: center;
     }

     .track-thumb+* {
         grid-column: 2;
     }
 }

 ag-track:hover {
     cursor: pointer;
 }

 ag-track.track--current{
    animation-name: blink;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;
 }

 @keyframes blink{
    from{
        opacity: 1;
    }
    to{
        opacity: 0.5;
    }
 }

 ag-track.track--previous {
     opacity: 0.5;
 }

 .track-text {
     //  color: var(--secondary-color);
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
 }

 .track-text.track-title {
     font-size: 1.2rem;
 }

 .track-text.track-artist {
     font-size: 15px;
     opacity: 0.6;
 }


 audio-controls {
     display: flex;
     flex-wrap: nowrap;
     gap: 0.3rem;
 }