.player-button {
    background-color: var(--secondary-color);
    border: none;
    border-radius: 50px;
    color: var(--primary-color);
    min-width: 27px;
    height: 27px;
    text-align: center;
    opacity: 0.8;
    transition: all 0.25s;
}

.player-button.button--contrast{
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.player-button.button--big {
    width: 50px;
    height: 50px;
}

.blog-button{
    margin: 0.5rem;
    padding:1rem;
    background-color: var(--primary-color);
    color:var(--secondary-color);
    font-size: 20px;
    border-radius: 1.5rem;
    transition: all 0.3s;
    cursor: pointer;
}

.blog-button:hover{
    opacity: 0.8;
}

.player-button .fa-pause {
    animation: zoom alternate 0.5s infinite ease;
}

.button--is-active{
    opacity: 1;
    background-color: #a2cc7a;
}

@keyframes zoom {
    to {
        transform: scale(1.2);
    }
}

.player-button:hover {
    opacity: 1;
    cursor: pointer;
}