@font-face {
    font-family: "Kamryn";
    src: url(../../static/fonts/kamryn/Kamryn\ 3D\ Italic\ D.otf);
}

@font-face {
    font-family: "Rubik";
    src: url(../../static/fonts/rubik/Rubik-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Qebab";
    src: url(../../static/fonts/qebab-shadow/Quebab-Shadow-ffp.otf);

}

@font-face {
    font-family: "Abel";
    src: url(../../static/fonts/abel/Abel-Regular.ttf);
}