
@font-face {
    font-family: "Rubik";
    src: url(../../static/fonts/rubik/Rubik-VariableFont_wght.ttf), format("truetype");
}

@font-face {
    font-family: "Qebab";
    src: url(../../static/fonts/qebab-shadow/Quebab-Shadow-ffp.otf), format("opentype");

}

@font-face {
    font-family: "Abel";
    src: url(../../static/fonts/abel/Abel-Regular.ttf), format("truetype");
}
