:root {
    --primary-color: #303030;
    --secondary-color: #d7d7d7;
    --background-color: #d7d7d7;
    --link-color: red;
    --text-color: #303030;
    --text-font: 'Rubik';
    --title-font: 'Abel';

    /* map */
    --background: rgba(65, 58, 83);
    --map: rgb(238, 222, 177);
    --emphasis: rgb(231, 113, 83);
}